th, td {
    border: 2px solid #d61212;
    padding: 20px;
    

  }
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(full) {
    background-color: #883e3e;
  }
  
  tr:hover {
    background-color: #c87474;
  }
  .table{
    border-collapse:collapse ;
  }